h1, h2{
    color: red;
}

#firstScreen{
    text-align: center;
}

#answerScreen{
    text-align: center;
}

#timesUp{
    text-align: center;
    color: blue;
}

#container{
    text-align: center;
}

.time-remain{
    text-align: center;
}

#questions{
    text-align: center;
}