body {
    background-image: url('../TriviaGame/images/cast.jpg');
    
}

.header {
  padding: 35px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
 }

.Jumbotron-fluid{
    
    padding: 20px;
}

.start {
    background-color: blue;
    padding: 10px;
}

.Reset {
    background-color: red;
    padding: 10px;
}

.around {
    background-color: navy;
}

.rules {
    margin: 10px;
}

.wrapper {
    background-color: yellow;
    margin-top: 125px;
}

h2 {
    font-family: 'Prompt', sans-serif;
    color: white;
}

.questions, .answers, {
    font-family: 'Monda', sans-serif;
     margin:  15px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    cursor: pointer;
    font-size:  35px;
    font-weight: bold;
}

.showcur {
    margin-top: 35px;
    font-weight: bold;
}

.button {
    margin: 0px 10px;
    padding: 15px 20px;   
     color: black;
     font-size: 25px;
    font-weight: bold;
    box-shadow: 0 0 10px black;
    text-shadow: 0 0 10px black;
    border: 2pt inset black;
    border-radius: 5%;
}

.image{
    border-radius: 15px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    opacity: 0;

}

.questions, {
    color: white;
}

.answers, {
    color: white;
}
