.header {
  padding: 35px;
  text-align: center;
}

.Jumbotron-fluid{
    
    padding: 20px;
}

.start-game {
    background-color: blue;
    padding: 10px;
}

.Reset {
    background-color: red;
    padding: 10px;
}

.rules {
    margin: 10px;
}

.wrapper {
    background-color: aliceblue;
}